*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:#0b2c96;
    
}
.hone{
    color: #ffffff;
    text-align: center;
}
.classd{
    display: flex;
    min-height: 100vh;
}
.side{
    width: 250px;
    height: 100vh;
    background:rgb(255, 255, 255);
    color: #000000;
    padding: 20px;
}
.logo{
    width: 130px;
    display: block;
    margin: 0 auto 1px;
}
a{
    text-decoration: none;
}
.side ul li{
    padding: 15px;
    margin-bottom: 10px;
    background:#0b2c96;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.side ul li:hover{
    background: #010367;
    color: #ffffff;
}
.maintag{
    flex: 1;
    padding: 20px;
}
header{
    margin-bottom: 10px;
}
.tags{
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;

}
.tags{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}
.tag{
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    gap: 10px;
    box-shadow:0 0 2px #000000;
}
.tag:hover{
    background: #0b2c96;
    color: #ffffff;
}
.re{
    margin-top: 40px;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}
table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#0b2c96;
    color:white;
    padding:12px;
}

td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f2f2f2;
}

tr:hover{
    background:#dbe6ff;
}
#emptable{
    text-align: center;
    font-weight: bold;
}